*{
    margin: 0;
    padding: 0;
    font-family: 'sans-serif';
    box-sizing: border-box;
}

li{
    list-style: none;
}
header{
    margin: 2px 4px;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    border: 2px solid #ff6633; 
    border-radius:30px;
}
header .head-name{
    font-family:'Poppins',sans-serif;
    font-weight: 800;
    font-size: 30px;
}
header .nav-bar ul{
    display: flex;
}
header .nav-bar ul li {
    height: 40px;
    padding-top:10px ;
    width: 100px;
    background-color: #ff6633;
    border-radius: 20px;
    font-family:'Roboto',sans-serif;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}
.course-nev-bar{
    height: 50px;
    border-bottom: 2px solid gray;
}
.course-nev-bar ul{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:12px;
}
.course-nev-bar ul li{
    padding: 0 20px;
    color: rgb(255, 255, 6);
}
.course-nev-bar ul li button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 20px;
}
.course-nev-bar ul li button:hover{
    text-decoration:underline;
    text-decoration-color: #f38a1a;
}
.content{
    display:flex;
    transform: translateX(100%);
    position: absolute;
    transition: 0.5s ease-in-out;
}
main{
    border-radius: 15px;
    background-color: #f38a1a;
    height: calc(100vh - 125px);
    margin:5px 7px;
    position: relative;
    overflow: hidden;
}
article{
    margin:100px 10px 0 30px;
    text-align: justify;
    color:#110; 
    font-family: 'Inter', sans-serif; 
}

#content1{
    transform:translateX(0);
}
#btn1{
    color: #ff8200;
}
.left-side{
    margin: 0 20px 0 10px;
    flex-basis: 50%;
    font-size: 30px;
}
.head{
    text-align: center;
    margin-top: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 40px;
}
.right-side .language{
    font-size: 23px;
}
.code-box{
    width: 730px;
    height: 310px;
    padding-left:20px;
    margin-bottom:90px ;
    border-radius: 15px;
    background-color: rgb(6, 10, 7);
    color: white;
}
.right-side .copy-bar{
    text-align: right;
    margin-top: 70px;
    height: 40px;
    background-color:transparent;
}
.toolbar-item{
    margin-top: 47px;
    margin-left: 690px;
    justify-content: right;
    position: relative ;
    position: absolute;
}
.toolbar-item button{
    border-radius: 10px;
    height: 25px;
    width: 35px;
    background-color:#f38a1a;
}
.right-side{
    margin: 130px 30px;
}

